<a href="https://colab.research.google.com/github/ivioje/Hamoye/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [88]:
data = pd.read_csv('/content/energydata_complete.csv')

In [ ]:
data.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [106]:
data.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## T2 against T6

In [89]:
x = data['T2'].values.reshape(-1,1)
y = data['T6'].values.reshape(-1,1)

In [90]:
#split dataset
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [91]:
#import and initialise model
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [92]:
y_pred = linear_model.predict(x_test)

In [93]:
# R squared value
from sklearn.metrics import r2_score

r2_score = r2_score(y_test, y_pred)
round(r2_score, 2)

0.64

## normalised data

In [94]:
#normalise dataset 
from sklearn.preprocessing import MinMaxScaler
# scale dataset
scaler = MinMaxScaler()

# drop date and light columns
data = data.drop(columns = ['date', 'lights'])

# normalise the remaining columns
norm_df = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)

In [95]:
y = data['Appliances']
X = data.drop(['Appliances'], axis=1)

In [96]:
#split data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [97]:
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [98]:
y_pred = linear_model.predict(x_test)

In [99]:
#mean absolute error
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
round(mae, 2)

53.65

In [104]:
#RSS - r2
rss = ((y_test - y_pred)**2).sum()
round(rss, 2)

51918092.62

In [105]:
# root mean square error
from sklearn.metrics import mean_squared_error
import numpy as np
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

93.64

Weights

In [126]:
cols = data.columns
weights = linear_model.coef_

print(cols, weights)

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object') [-3.70720673e-01  1.63080395e+01 -1.83673190e+01 -1.37426334e+01
  2.58391783e+01  4.79880045e+00  2.79643416e+00  1.20114475e+00
 -1.60319800e+00  2.57975425e-01  7.36145143e+00  4.12048596e-01
  1.03766452e+00 -1.69304913e+00  9.99432117e+00 -5.78250328e+00
 -2.11554290e+01 -1.75914892e+00 -1.10686961e+01  1.70446533e-01
 -1.09298633e+00  2.23352337e+00  2.02133263e-01  5.70041642e+00
 -6.56885343e+12  6.56885343e+12]

In [130]:
weights.min()
weights.max()

-6568853433424.284

6568853433424.315

Ridge

In [145]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [147]:
y_pred = ridge_reg.predict(x_test)

In [148]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

93.641

LASSO

In [152]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.136e+06, tolerance: 1.464e+04
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso(alpha=0.001)

In [153]:
y_pred = lasso_reg.predict(x_test)

In [154]:
weights = lasso_reg.coef_

In [155]:
print(weights)

[ -0.36651459  16.29967497 -18.36317783 -13.73723101  25.83110181
   4.80204536   2.788718     1.20290031  -1.60161226   0.25753728
   7.36032681   0.41145013   1.03438863  -1.69193633   9.98826123
  -5.77897699 -21.13836072  -1.7623376  -11.05956632   0.17020564
  -1.0911855    2.23056597   0.202535     5.6889568    0.03295809
   0.        ]